<!DOCTYPE html>
<html>
<head>
<title>AMRITA CBE CLUBHOUSE</title>
<meta name="viewport" content="width=device-width, initialscale=1.0">
<link href="club.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
<header>
<h1>AMRITA CLUB HOUSE</h1>
<nav>
<ul>
<li><a href="https://www.amrita.edu/school/engineering/coimbatore/mathematics/anantam">Anantam</a></li>
<li><a href="https://www.amrita.edu/school/engineering/coimbatore/computer-science/student-clubs/techknowlogy-club"></a>techknowlogy club</li>
<li><a href="https://www.amrita.edu/news/new-aerospace-club-amritaASCII">ascii club</a></li>
<li><a href="">log in</a></li>
<li><a href="">about</a></li>
<li><a href="">contact</a></li>
</ul>
</nav>
</header>
<section class="courses">
<article>
<figure><img src="" alt="randomimage" />
<figcaption>some random pic to be decided</figcaption>
</figure>
<hgroup>
<h2>Student Clubs </h2>
<h3>at Coimbatore Campus</h3>
</hgroup>
<p>Associations for performing 

arts and culture, yoga club, 

literary association, science 

forum, nature club, 
mathematics forum, sports club 

etc 
help bring out the creative 

talents in students and promote 

team-spirit.</p>
</article>
<article> 
<figure>
<img src="images/bigice.png" 

alt="another random pic" />
<figcaption>another random pic</figcaption>
</figure>
<hgroup>
<h2>the headline</h2>
<h3> one dayworkshop</h3>
</hgroup>
<p>There are several 

associations that provide 

students a platform to be 

engaged in humanitarian or 

environmental-related 

activities.</p>
</article>
</section>
<aside>
<section class="otherclubs">
<h2>other clubs</h2>
<a href="">Shristi</a>
<a href="">Natyasudha </a>
<a href="">Raagasudha </a>
<a href="">Nature Club</a>
</section>
<section class="contact-details">
<h2>Contact</h2>
<p>To post about your club 

activities contact us:<br />
phone num:@@@@@@@<br />
email :@@@@@@</p>
</section>
</aside>
<footer>
&copy; 
</footer>
</div><!-- .wrapper -->
</body>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
</html>
